body {
  font-family: Gen-Jyuu-Gothic-P-Medium, Times new Roman, Arial, Helvetica, sans-serif;
}

nav{
  background-color: #333;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  flex-direction: row;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

nav li {
  width: 40;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}



.dropdown {
  position: relative;
}

.dropdown-toggle:after {
  font-size: 12px;
}

.dropdown-menu {
  
  text-align: center;
  background-color: #333;
  position: absolute;
  width: inherit;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

}

.dropdown:hover .dropdown-menu {
  display: block;
}

li a:hover {
  background-color: white;
  color: black;
}